teiHeader { 
	display: block;
	background: #faf0e6;
	width: 97%;
	border-bottom-width: 0px;
	padding: 25px;
	font-size: 85%; 
}

titleStmt title { 
	display: block; 
	font-weight: bold; 
}

author { 
	display: block; 
	font-style: italic; 
}

sourceDesc, respStmt, publicationStmt, availability { 
	display: block; 
	margin-top: 15px; 
}

addrline, publicationStmt publisher, publicationStmt date { 
	display: block; 
}

sourceDesc { 
	font-style: italic; 
}

body { 
	display: block;
	background: #e2c2c6;
	width: 97%;
	padding: 25px; 
}

head { 
	display: block; 
	font-family: arial; 
	margin-bottom: 15px; 
	margin-top: 15px; 
}