* {
	box-sizing: border-box;
}

body {
    font-family: 'Raleway', serif;
}

.navbar {
	background-color: #faf0e6;
}

.container, .carousel, .container-md, header, h2 {
	margin-bottom: 25px;
}

form {
	margin-bottom: 0;
}

.carousel-caption {
	background-color: #faf0e6;
	width: 30%;
	left: 0;
	padding: 5px;
	margin-bottom: 30px;
	opacity: 75%;
}

#map-container {
	margin-bottom: 550px;
}

#map-container iframe {
	height: 800px;
	width: 100%;
}

.wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

footer {
	margin-top: 150px;
	padding: 15px;
	background-color: #faf0e6;
}